.Icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    padding-right: .25em;
    padding-left: .25em;
}

.Logo{
    font-size: 175%;
    text-align: center;
    color: var(--main-color);
    line-height: 1;
}

.Header {
    display: block;
    width: 100%;
    padding: 1.75em 0;
    border-bottom: 1px solid var(--border-color);
    background: var(--neutral-color);
}

.Main{
    display: block;
    margin: 0 auto;
    margin-top: 5em;
    max-width: 50em;
}